.cartItems {
    margin: 50px;
}

.cartItems hr {
    height: 3px;
    background-color: #e2e2e2;
    border: 0;
}

.cartItems-format-main {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr;
    align-items: center;
    gap: 20px;
    padding: 15px 0;
    color: #454545;
    font-size: 16px;
    font-weight: 600;
}

.cartItems-format {
    font-size: 16px;
    font-weight: 500;
}

.cartIcon-product-icon {
    height: 50px;
}

.cartItems-remove-icon {
    width: 14px;
    margin: auto;
    cursor: pointer;
}

.cartItems-quantity {
    width: 40px;
    height: 30px;
    border: 2px solid #ebebeb;
    background-color: #fff;
}

.cartItems-down {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    gap: 30px;
}

.cartItems-total {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cartItems-total-btns {
    display: flex;
    gap: 50px;
}

.cartItems-total-item {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.cartItems-total-d {
    text-decoration: underline;
}

.cartItems-total button {
    width: 200px;
    height: 45px;
    outline: none;
    border: none;
    background-color: #ff5a5a;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}

.cartItems-promoCode {
    flex: 1;
    font-size: 18px;
    font-weight: 500;
}

.cartItems-promoCode p {
    color: #555;
    font-size: 18px;
}

.cartItems-promoBox {
    width: auto;
    max-width: 500px;
    margin-top: 15px;
    padding-left: 20px;
    height: 50px;
    background-color: #eaeaea;
}

.cartItems-promoBox input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 15px;
    width: 330px;
    height: 40px;
}

.cartItems-promoBox button {
    width: 120px;
    margin-left: 30px;
    height: 50px;
    font-size: 15px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.pay-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 500px;
    margin-top: 20px;
}

.pay-info input {
    height: 35px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 16px;
    border-radius: 10px;
}

.pay-info button {
    height: 35px;
    color: white;
    background-color: #ff4141;
    margin-top: 20px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
}

.pay-info label {
    text-align: left;
    font-size: 18px;
    margin-bottom: -12px;
}

@media (max-width: 800px) {
    .cartItems-promoBox input {
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 13px;
    }

    .cartItems-promoBox button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-left: -20px;
    }

    .pay-info {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    .cartItems-format-main {
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }

    .cartItems-format {
        display: grid;
    }
}
