.sidebar {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background-color: white;
    text-align: center;
}

.sidebar-title {
    font-size: 18px;
    font-weight: 500;
}

.sidebar-items {
    margin-top: -20px;
}

.sidebar-items li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 18px;
}

.sidebar-item-icon {
    width: 17px;
    height: 17px;
    margin-right: 7px;
}

.sidebar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: black;
}

@media (max-width: 800px) {
    .sidebar {
        max-width: 50px;
    }

    .sidebar-title {
        margin: 20px 2px;
        font-size: 16px;
    }

    .sidebar-title-admin {
        display: none;
    }

    .sidebar-items {
        padding-left: 15px;
    }

    .sidebar-items li {
        margin-bottom: 15px;
    }

    .sidebar-item p {
        display: none;
    }
}
