.hero {
    height: 90vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 100px;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 20px;
    font-weight: 600;
}

.hero-left p {
    color: #171717;
    font-size: 50px;
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}

.hero-hand-icon img {
    width: 100px;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 210px;
    height: 40px;
    border-radius: 75px;
    margin-top: 20px;
    background-color: #ff4141;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.hero-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right img {
    width: 360px;
}

@media (max-width:1024px) {
    .hero-left h2 {
        font-size: 18px;
    }

    .hero-left p {
        font-size: 45px;
    }

    .hero-hand-icon img {
        width: 60px;
    }

    .hero-latest-btn {
        width: 180px;
        height: 40px;
        font-size: 17px;
    }

    .hero-right img {
        width: 300px;
    }
}

@media (max-width:800px) {
    .hero-left {
        padding-left: 80px;
    }

    .hero-left h2 {
        font-size: 16px;
    }

    .hero-left p {
        font-size: 40px;
    }

    .hero-hand-icon img {
        width: 55px;
    }

    .hero-latest-btn {
        width: 170px;
        height: 35px;
        font-size: 16px;
    }

    .hero-right img {
        width: 270px;
    }
}

@media (max-width:600px) {
    .hero {
        flex-direction: column;
    }

    .hero-right {
        display: none;
    }

    .hero-left h2 {
        font-size: 18px;
    }

    .hero-left p {
        font-size: 50px;
    }

    .hero-hand-icon img {
        width: 60px;
    }

    .hero-latest-btn {
        width: 180px;
        height: 40px;
        font-size: 18px;
    }
}